
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page page-Contact">
    <h2>Contact Us</h2>
</div> 

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <div class="panel-primary" align="left">
                <div class="panel-body">
                    <div class="header">Contact Us</div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="panel-primary" align="right">
                <div class="panel-body">
                    <div class="header">Feedback</div>
                </div>
            </div>
        </div>
    </div>
</div> 